:root {
  --color-primary: #333333;
  --color-primary-pair: #F2F2F2;
  --color-primary-opacity: rgba(242, 242, 242, .8);
  --color-secondary: #606060;
  --color-tertiary: #AFAFAF;
  --color-focus-page: #F0A734;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #707070;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary-pair);
  font-family: var(--font-secondary);
  font-variant: small-caps;
  font-weight: 900;
}

h2,
h3 {
  color: var(--color-grey);
  font-family: var(--font-secondary);
  font-variant: small-caps;
  font-weight: 900;
}

h4,
h5,
h6 {
  color: var(--color-grey);
  font-family: var(--font-primary);
  font-variant: small-caps;
  font-weight: bold;
}

p {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: 500;
  font-variant: normal;
}

a {
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-weight: 600;
  font-variant: small-caps;
}

ul li,
ol li,
dl dt {
  list-style-type: none;
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: 500;
}

dd {
  list-style-type: none;
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: 500;
}

small {
  color: var(--color-primary-pair);
  font-family: var(--font-primary);
  font-weight: normal;
}

em,
strong,
del,
ins,
abbr,
dfn,
i,
b,
s,
u {
  color: var(--color-primary-pair);
  font-family: var(--font-primary);
}
