.grey-bkg {
  background-color: var(--color-primary);
  color: var(--color-primary-pair);
}

.white-text {
  color: var(--color-primary-pair);
  font-weight: light;
}

.pad-l-icon {
  padding-left: 5px;
}

.pad-r-icon {
  padding-right: 5px;
}

.ltn-svg {
  color: var(--color-primary-pair);
}

i {
  fill: var(--color-primary-pair);
}

.ltn-svg:hover {
  fill: var(--color-white);
  transform: scale(1.08);
  transition: all 150ms linear;
}
