.btn {
  background-color: var(--color-white);
  border-color: var(--color-black);
  color: var(--color-black);
  font-weight: bold;
  border-radius: 0;
}

.btn:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
  border-radius: 0;
  font-weight: bold;
}

.icon-push {
  padding-right: 3px;
}

.btn:focus {
  outline: 3px solid var(--color-focus-page);
}

.pad-r-1-2 {
  padding-right: 15px;
}

.icon-btn img, .icon-btn svg {
  fill: var(--color-black);
}

.btn-back {
  position: fixed;
  top: 1.18em;
  right: 2.75em;
  z-index: 2000;
}

.btn:hover .icon-btn img, .btn:hover .icon-btn svg {
  fill: #fff;
}
