.keepcolor-text {
  color: var(--color-grey);
}

a.main-card:hover .card-content::before {
  content: " ";
  display: block;
  position: absolute;
  background: var(--color-primary-opacity);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-content {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.main-card:hover .card-content {
  visibility: visible;
}

.cardfocus:focus {
  outline: 3px solid var(--color-focus-page);
}

.bkgcolor-1 {
  background-color: var(--color-primary-pair);
}
