a.main-card:hover .card-content::before {
  content: " ";
  display: block;
  position: absolute;
  background: var(--color-primary-opacity);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-content {
  visibility: hidden;
}

.main-card:hover .card-content {
  visibility: visible;
}

.cardfocus:focus {
  outline: 3px solid var(--color-focus-page);
}
