.keepcolor-text {
  color: var(--color-grey);
}

a.main-card:hover .card-content::before {
  content: " ";
  display: block;
  position: absolute;
  background: var(--color-primary-opacity);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-content {
  opacity: 0;
  transition: all 1s cubic-bezier(.24,.84,0,.93);
  width: 100%;
  height: 100%;
}

.main-card:hover .card-content {
  opacity: 1;
  transition: all 1s cubic-bezier(.24,.84,0,.93);
}

.cardfocus:focus {
  outline: 3px solid var(--color-focus-page);
}

.bkgcolor-1 {
  background-color: var(--color-primary-pair);
}

.bkgcolor-2 {
  background-color: #EBBE21;
}

.text-color1 {
  color: #333333;
}

.bkcolor-3 {
  background-color: #141414;
}

.text-color2 {
  color: var(--color-white);
}

.text-color3 {
  color: var(--color-black);
}

.bkcolor-4 {
  background-color: var(--color-black);
}

.bkcolor-5 {
  background-color: #6C8EC8;
}

.bkcolor-6 {
  background-color: #5E2545;
}

.bkcolor-7 {
  background-color: #E6E7E9;
}

.bkcolor-8 {
  background-color: #424242;
}

.bkcolor-9 {
  background-color: #797979;
}

.bkcolor-10 {
  background-color: #333333;
}
