<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hovski · A graphic designer who is passionate about sustainability and creative concepts · Ottawa, Canada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Hovski · A graphic designer who is passionate about sustainability and creative concepts">
  <meta property="og:url" content="https://hov.ski/">
  <meta property="og:image" content="https://hov.ski/images/logo.svg">
  <meta property="og:site_name" content="Hovski">
  <meta property="og:description" content="A graphic designer who is passionate about sustainability and creative concepts.">
  <meta property="og:locale" content="en_CA">

  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800,900|Poppins:500,700&display=swap" rel="stylesheet">
</head>
<body>

  <div class="pin-tl zindex-2">
    {% pattern header/header %}
  </div>

  <div role="main" id="main" tabindex="0">
    {{content}}
  </div>

  {% pattern footers/footer %}

  {% pattern sections/seo %}

  <script src="/js/main.js"></script>

</body>
