<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>ThoughtProcess · Hovski</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="ThoughtProcess · Hovski">
  <meta property="og:url" content="https://hov.ski/thoughtprocess/">
  <meta property="og:image" content="https://hov.ski/images/logo.svg">
  <meta property="og:site_name" content="Hovski">
  <meta property="og:description" content="This is a project about my thought process on how I get from point A to B.">
  <meta property="og:locale" content="en_CA">

  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800,900|Poppins:500,700&display=swap" rel="stylesheet">
</head>
<body>

  <div class="pin-tl zindex-2">
    {% pattern header/header %}
  </div>

  <div role="main" id="main" tabindex="0">
    {{content}}
  </div>

  {% pattern footers/footer %}
  {% pattern sections/seo %}

  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "CreativeWork",
        "name": "Thought Process",
        "author": {
          "@type": "Person",
          "name": "Annie Pandolfi"
        },
        "image": "https://hov.ski/images/thoughtprocess/mainbanner-thoughts.jpg",
        "url": "https://hov.ski/thoughtprocess/",
        "dateCreated": "2019",
        "dateModified": "2019",
        "description": "This is a project about my thought process on how I get from point A to B.",
        "keywords": "Illustration, Design, Poster Design, Isometric Illustration, Layout, Concept Development, Package Design",
        "accountablePerson": "Annie Pandolfi",
        "locationCreated": {
          "@type": "AdministrativeArea",
          "name": "Ottawa"
        },
        "educationalUse" : "assignment",
        "copyrightHolder": "Annie Pandolfi",
        "copyrightYear": "2019"
      }
    </script>

  <script src="/js/main.js"></script>

</body>
